html {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Webkit (Chrome, Edge, Safari) */
html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb:hover {
  background: hsl(240, 5%, 56%);
}

html::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
