html {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Webkit (Chrome, Edge, Safari) */
html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb:hover {
  background: hsl(240, 5%, 56%);
}

html::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

/* BlockNote editor */
@media (width < 48rem) {
  .bn-editor {
    padding: 1rem 1rem;
  }
}

.bn-editor {
  min-height: 50vh;
  padding-top: 1rem;
  max-width: 100% !important;
  word-break: break-all !important;
}
