html {
  /* overflow-y: scroll; */
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Webkit (Chrome, Edge, Safari) */
html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb:hover {
  background: hsl(240, 5%, 56%);
}

html::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

/* BlockNote editor */
@media (width < 48rem) {
  .bn-editor {
    padding: 1rem 2rem;
  }
}

.bn-editor {
  padding-top: 1rem;
  padding-bottom: calc(100dvh - 150px);
  max-width: 100% !important;
  word-break: keep-all !important;
}

.bn-editor h1 {
  font-size: 2.25rem; /* 4xl */
  font-weight: 800; /* extrabold */
  letter-spacing: -0.02em; /* tracking-tight */
}

@media (min-width: 1024px) {
  /* lg */
  .bn-editor h1 {
    font-size: 3rem; /* 5xl */
  }
}

.bn-editor h2 {
  font-size: 1.875rem; /* 3xl */
  font-weight: 600; /* semibold */
  letter-spacing: -0.02em; /* tracking-tight */
}

.bn-editor h3 {
  font-size: 1.5rem; /* 2xl */
  font-weight: 600; /* semibold */
  letter-spacing: -0.02em; /* tracking-tight */
}

.bn-editor p {
  line-height: 1.75; /* leading-7 */
}

.bn-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100dvw;
  padding: 0 1rem;
}

.bn-toolbar {
}

@media (max-width: 1280px) {
  [aria-label="Replace image"] {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .bn-file-block-content-wrapper {
    max-width: calc(100dvw - 255px - 152px);
  }
}

.bn-editor .tableWrapper {
  padding: 10px 0px !important;
}

.bn-container .bn-side-menu .bn-button {
}
